<mat-toolbar color="primary">
   <mat-toolbar-row>
       <div class="nav-list">
        <div class="nav-item">HOME</div>
        <div class="right">
            <div [routerLink]="['/']" routerLinkActive="active"   class="nav-item">LOGIN</div>
            <div [routerLink]="['/register']" routerLinkActive="active"  class="nav-item">REGISTER</div>
            <i  (click)="logout()" class="nav-item"><mat-icon>exit_to_app</mat-icon></i>
        </div>
    </div>
   </mat-toolbar-row>

</mat-toolbar>