<div class="container">
    <div class="row my-5">
        <div class="text-center col-lg-12">
            <h3>Login here</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div *ngIf="errorList.length > 0" class="card-header">
                    <div class="alert alert-danger">
                        <p *ngFor="let item of errorList" >{{ item }}</p>
                    </div>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col text-center">

                            

                            <button (click)="signInWithGoogle()" type="button" class="btn btn-secondary">sign in with google</button>
                        </div>
                    </div>
                
                    <form [formGroup]="login_form" (ngSubmit)="login()"  >

                        <div class="form-group">
                          <label for="username">Email</label>
                          <input formControlName="username" type="text"
                            class="form-control" name="username" id="username" 
                            aria-describedby="helpId" placeholder="Enter Email">

                            <div *ngIf="username_ctrl.touched && username_ctrl.invalid" class="alert alert-danger">
                                username is required field
                            </div>

                        </div>

                        <div class="form-group">
                          <label for="password">password</label>
                          <input type="password" formControlName="password" class="form-control" name="password" id="password" placeholder="Enter password">

                          <div *ngIf="password_ctrl.touched && password_ctrl.invalid" class="alert alert-danger">
                              password is required field
                          </div>

                        </div>

                        <button type="submit" [disabled]="login_form.invalid" class="btn btn-primary">Login</button>

                    </form>

                    <a [routerLink]="['/register']"  class="btn btn-link"> Not have an account register here</a>

                </div>
            </div>
        </div>
    </div>
</div>