<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">

    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="0px">
        <h3 class="title">sign in</h3>
    </div>

    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="0px">

        <div class="social-login">
            <div (click)="signInWithGoogle()" class="sign-btn">
                <img class="g-img" width="20" height="20" src="/assets/icons/google.svg" alt="google">
                <span class="g-text">sign in with google</span>
            </div>

            <div (click)="signInWithFacebook()" class="ml-2 sign-btn bg-fb">
                <!-- <img class="g-img" width="20" height="20" src="/assets/icons/facebook.svg" alt="google"> -->
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <span>sigin in with facebook</span>
            </div>

        </div>
    </div>

    

    <div fxLayout="row" class="mt-2" fxLayoutAlign="center none" fxLayoutGap="0px">

        <div fxFlex="100%">
            <form [formGroup]="login_form" (ngSubmit)="login()">

                        <mat-form-field  class="form-control-item">
                            <mat-label>Email</mat-label>
                            <input  type="email" matInput formControlName="username" placeholder="Email">
                            <mat-error *ngIf="username_ctrl.touched && username_ctrl.invalid">
                                username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field >
                        <mat-form-field class="form-control-item">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password" placeholder="Password">
                            <mat-error *ngIf="password_ctrl.touched && password_ctrl.invalid">
                                password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
    
                    <button type="submit" [disabled]="login_form.invalid" color="primary" mat-raised-button>Login</button>
                    <br>
    
                    
                </form>
        </div>
    </div>

</div>