<div id="admin">
    <div class="sidebar">
        <div class="side-item">
            <h3>Admin dashboard</h3>
        </div>
        <mat-divider></mat-divider>

        <div class="side-item">
            <i class="fa fa-building" aria-hidden="true"></i>
            <a  class="side-nav-item">category</a>
        </div>
        <div class="side-item">
            <i class="fa fa-product-hunt" aria-hidden="true"></i>   
            <a  class="side-nav-item" >product</a>
        </div>



    </div>
    <div class="content">
        <!-- <app-category></app-category> -->
        <app-product></app-product>
    </div>
</div>