#profile{

    padding: 6%;

    .detail{
        border-right: 1px solid lightgray;
    }

    .right-details{
        // padding: 8px;
        background-color: lightslategray;

    }

    .profile-pic{
        border-radius: 150px;
    }
}