/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.center{
    text-align: center;
}


.title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;

}

.form-item{
    margin-top: 26px;
}


.form-control-item{
    width: 100%;
}

.mt-5{
    margin-top: 5%;
}

.mt-2{
    margin-top: 2%;
}

.alert{
  padding: 8px;
}

.alert-danger{
  background-color: #f0c8c7;
  color: red;
}
