<div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="0px">

    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="0px">
        <h3 class="title">sign up</h3>
    </div>


    <div fxLayout="row" class="mt-2" fxLayoutAlign="star none" fxLayoutGap="0px">

        <div fxFlex="100%">
            <form [formGroup]="register_form" (ngSubmit)="register()">

                        <mat-form-field  class="form-control-item">
                            <mat-label>Email</mat-label>
                            <input  type="email" matInput formControlName="username" placeholder="Email">
                            <mat-error *ngIf="username_ctrl.touched && username_ctrl.invalid">
                                username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field >
                        <mat-form-field  class="form-control-item">
                            <mat-label>Username</mat-label>
                            <input  type="text" matInput formControlName="firstName" placeholder="username">
                            <mat-error *ngIf="firstName_ctrl.touched && firstName_ctrl.invalid">
                                username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field >
                        <mat-form-field class="form-control-item">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password" placeholder="Password">
                            <mat-error *ngIf="password_ctrl.touched && password_ctrl.invalid">
                                password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
    
                    <button type="submit" [disabled]="register_form.invalid" color="primary" mat-raised-button>register</button>
                    <br>
    
                    
                </form>
        </div>
    </div>

</div>